<html>
    <head>
        <title>Что там с коммунаркой</title>
          <script src="/static/styles.js"></script>
          <script src="/static/bundle.js"></script>
        <script>
            window.onload = init
        </script>
    </head>
    <body>
        <div id="map"></div>
        <div id="control">
            <button onclick="prepare()">prepare</button><br>
            <button onclick="save_route()">save route</button><br/>
            <span id="messages"></span>
        </div>
    </body>
</html>
